<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DiningManagementSystem.Properties.Settings.MydatabaseConnectionString"
        connectionString="Data Source=RONOKPC;Initial Catalog=DiningManagementSystem;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>